@model IEnumerable<Cultural_Center.Models.Enrollments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentGroupsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentsId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { StudentGroupsId = item.StudentGroupsId, StudentsId = item.StudentsId}) |
                @Html.ActionLink("Details", "Details", new { StudentGroupsId = item.StudentGroupsId, StudentsId = item.StudentsId }) |
                @Html.ActionLink("Delete", "Delete", new { StudentGroupsId = item.StudentGroupsId, StudentsId = item.StudentsId })
            </td>
        </tr>
}
    </tbody>
</table>
