@model System.Collections.Generic.List<Cultural_Center.ViewObjects.AllTablesJoined>

@{
    ViewBag.Title = "Similar Times Conflict";
}

<h1>A conflict has occured!</h1>

<h3>
    @ViewBag.Error
</h3>
<h3>Conflicting data</h3>
 <table class="table">
     <thead>
     <tr>
         <th>
             Day of the week
         </th>
         <th>
             Start time
         </th>
         <th>
             End time
         </th>
         <th>
             Subject Name
         </th>
         <th>
             Instructor's First Name
         </th>
         <th>
             Instructor's Last Name
         </th>
         <th>
             Start date
         </th>
         <th>
             End date
         </th>
         <th>
             Number Of Participants
         </th>
         <th>
             Classroom Number
         </th>
     </tr>
     </thead>
     <tbody>
     @foreach (var item in Model) {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem =>item.DayOfTheWeek)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.StartTime)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.EndTime)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.SubjectName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.InstructorsFirstName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.InstructorsLastName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.StartDate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.EndDate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.NumberOfParticipants)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.ClassroomNumber)
             </td>
         </tr>
     }
     </tbody>
</table>
<h3>
    <a asp-action="Index">Back to List</a>
</h3>